# Import Library

In [3]:
import pandas as pd

# DATASET

In [5]:
file = "/content/student_performance_dirty.csv"
df = pd.read_csv(file)

df

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index,Notes
0,7.0,99,Yes,9.0,1,91.0,excellent
1,4.0,82,No,4.0,2,65.0,review
2,8.0,51,Yes,7.0,2,45.0,review
3,5.0,52,Yes,5.0,2,36.0,excellent
4,7.0,75,No,8.0,5,66.0,review
...,...,...,...,...,...,...,...
10000,5.0,69,No,8.0,2,51.0,excellent
10001,2.0,46,Yes,4.0,8,20.0,review
10002,7.0,56,Yes,7.0,5,46.0,excellent
10003,NaN,42,Yes,8.0,5,28.0,review
10004,7.0,53,No,4.0,6,41.0,excellent

In [7]:
df.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index,Notes
0,7.0,99,Yes,9.0,1,91.0,excellent
1,4.0,82,No,4.0,2,65.0,review
2,8.0,51,Yes,7.0,2,45.0,review
3,5.0,52,Yes,5.0,2,36.0,excellent
4,7.0,75,No,8.0,5,66.0,review

# **Business Understanding**

## **Business Objective**

Dataset ini berisi informasi mengenai kebiasaan belajar dan faktor-faktor yang memengaruhi performa akademik siswa. Terdapat 10.005 baris data dan 7 kolom yang berisi jam belajar, nilai sebelumnya, aktivitas ekstrakurikuler, jam tidur, jumlah soal latihan yang dikerjakan, serta indeks performa siswa.

Tujuan analisis ini adalah untuk mencari tahu kebiasaan belajar apa yang paling berpengaruh terhadap nilai siswa. Hasilnya nanti bisa dipakai sekolah atau guru untuk membantu siswa yang mengalami kesulitan belajar.

## **Assess Situation**

Setiap siswa punya kebiasaan belajar yang berbeda-beda. Ada yang rajin belajar tapi kurang tidur, sibuk ekstrakurikuler sampai jarang latihan soal, dan belajarnya sebentar tapi nilainya bagus.

Tantangannya adalah bagaimana menemukan pola kebiasaan yang sehat dan efektif untuk meningkatkan performa akademik. Dari dataset ini, kita bisa melihat hubungan antara kebiasaan sehari-hari siswa dengan nilai yang mereka dapatkan. Data ini bisa jadi petunjuk buat guru dalam mendampingi siswa agar bisa belajar lebih optimal.

## **Analytic Goals**

Tujuan Analisis:

1. Menganalisis hubungan antara jam belajar dan performa siswa.
2. Mengukur pengaruh jam tidur terhadap performa akademik.
3. Mengetahui apakah latihan soal berpengaruh signifikan terhadap nilai.
4. Membandingkan performa siswa yang mengikuti ekstrakurikuler dan yang tidak.

## **Project Plan**

1. Memahami Data (Data Understanding)
2. Data Preparation
3. Eksplorasi data
4. Visualisasi & Insight